// Blog 포스트 리스트 페이지 본문에 대한 SCSS 파일

.catalogue {
  &-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    padding: 36px 0;
    list-style: none;

    &:last-child {
      margin-bottom: 72px;
      border: none;
      //        border-bottom: 1px solid $grey-2;
    }
  }

  &-type {
    color: $orange;
    font-size: 18px;
    font-family: $source;
    font-weight: 600;
    margin-bottom: 10px;
  }

  a {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px; /* 이미지와 텍스트 사이 간격 조정 */
  }

  &-info {
    flex: 1; /* 텍스트 영역이 남은 공간을 차지 */
    display: flex;
    flex-direction: column;
    width: auto;
    font-family: $source;

    .catalogue-tag {
      font-family: $source;
      display: inline-block;
      margin-bottom: 2px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      padding: 4px 7px;
      font-size: 13px;
      font-weight: 800;
      margin-bottom: 10px;
      background-color: $yellow;
      border-radius: 8px;

      @media (max-width: $break-medium) {
        margin: 10px 0;
      }
    }

    h1.catalogue-title {
      color: $grey-0;
      display: block;
      font-family: $source;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 6px;
      word-wrap: break-word;
      overflow-wrap: break-word;

      @media (max-width: $break-small) {
        font-size: 16px;
      }
    }

    @media (max-width: $break-medium) {
      display: block;
      width: 100%;
    }

    p.catalogue-subtitle {
      color: #4e5968;
      font-size: 15px;
      line-height: 1.75;
      margin-bottom: 17px;
      font-weight: 400;

      @media (max-width: $break-small) {
        font-size: 13px;
      }
    }

    p.catalogue-date {
      color: #4e5968;
      font-size: 13px;
      line-height: 1.75;
      font-weight: 400;
    }

    p.catalogue-body {
      font-size: 16px;
      color: $grey-1;
    }
  }

  &-img-container {
    z-index: 10;
    border-radius: 12px !important;
    width: 30%; /* 화면 너비의 비율로 설정 */
    max-width: 130px; /* 최대 너비 제한 */
    aspect-ratio: 130 / 90; /* 이미지 비율 유지 (130px X 90px) */
    margin: 0;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: transform 0.3s;
    }
  }
}

.catalogue-item:hover .catalogue-info {
  cursor: pointer;
}

.catalogue-item:hover .catalogue-title {
  color: $orange;
}

.catalogue-item:hover img {
  transform: scale(1.175); /* 확대 비율 */
}
